/* Home Page */
.home-page.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.home-page h1 {
  font-size: 60px;
  font-weight: bold;
  color: #f5f3f7; 
    margin-left: 80px;

}

.home-page h1 span {
  color: #c9a34c; 
}

.home-page p {
  margin-top: 20px;
  font-size: 22px;
  color: #bfa46a; 
  max-width: 600px;
  margin-left: 80px;
}

.home-page button {
  margin-top: 40px;
  padding: 18px 40px;
  background: linear-gradient(90deg, #8b5fbf, #bfa46a); 
  border: none;
  border-radius: 12px;
  color: #f5f3f7; 
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s;
  width: 200px;
  margin-left: 80px;
}

.home-page button:hover {
  transform: scale(1.05);
}
