/* Projects Page */
.projects-page {
  padding: 80px;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s ease;
}

.projects-page.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.projects-page h2 {
  font-size: 40px;
  margin-bottom: 50px;
  color: #a36dd0; 
}

.projects-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  background-color:  #2a1f3e; 
  width: 350px;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.6);
  transition: transform 0.4s, box-shadow 0.4s;
}

.project-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 25px 60px rgba(0,0,0,0.8);
}

.project-card h3 {
  color: #b48dff; 
  margin-bottom: 15px;
}

.project-card p {
  color: #d0bfff; 
}
